html {
  -webkit-print-color-adjust: exact;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f1f5f9;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100vh;
  display: grid;
}

* {
  box-sizing: border-box;
}

.downloadBtn {
  position: absolute;
  top: 0;
}

h1 {
  margin: 0;
}
